@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap");

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-Regular.ttf");
}

html,
body {
  @apply bg-gradient-to-r from-panelBackground via-gray-800 to-gray-900;
  height: 100%;
  margin: 0;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .headerBtn {
    background-color: #7d54f8;
    color: #fff;
    border: none;
    transition: 0.3s;
  }

  .headerBtn:hover {
    background-color: #7d54f8;
    box-shadow: 0 0 0 5px #7d54f85f;
    color: #fff;
  }

  .btn {
    --color: #7d54f8;
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    color: var(--color);
  }

  .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 300px;
    border-radius: 50%;
  }

  .btn:hover {
    color: #fff;
  }

  .btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }

  .btn:hover:before {
    top: -30px;
    left: -30px;
  }

  .btn:active:before {
    background: #7d54f8;
    transition: background 0s;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a78bfa #fff;
}
*::selection {
  color: #fff;
  background: #a78bfa;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #fff;
  border: 4px solid #fff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #fff;
}

*::-webkit-scrollbar-track:active {
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  /* border-radius: 20px; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #a78bfa;
  border: 1px solid #a78bfa;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 40;
  transition: all 0.5s;
}

#pocetnaSekcija::-webkit-scrollbar,
#prostorije::-webkit-scrollbar,
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

main {
  z-index: 1;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 0;
  left: 0;
  background: transparent;
  overflow: hidden;
}

.background span {
  width: 17vmin;
  height: 17vmin;
  border-radius: 17vmin;
  opacity: 50%;
  z-index: 0;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #583c87;
  top: 42%;
  left: 29%;
  animation-duration: 43s;
  animation-delay: -50s;
  transform-origin: -18vw 20vh;
  box-shadow: -34vmin 0 4.521779838865472vmin currentColor;
}
.background span:nth-child(1) {
  color: #e45a84;
  top: 96%;
  left: 52%;
  animation-duration: 47s;
  animation-delay: -41s;
  transform-origin: 3vw 3vh;
  box-shadow: -34vmin 0 4.454218649545705vmin currentColor;
}
.background span:nth-child(2) {
  color: #e45a84;
  top: 18%;
  left: 71%;
  animation-duration: 15s;
  animation-delay: -36s;
  transform-origin: 6vw -19vh;
  box-shadow: 34vmin 0 4.7170321867167395vmin currentColor;
}
.background span:nth-child(3) {
  color: #583c87;
  top: 91%;
  left: 32%;
  animation-duration: 38s;
  animation-delay: -15s;
  transform-origin: -13vw -17vh;
  box-shadow: 34vmin 0 4.632175266572181vmin currentColor;
}
.background span:nth-child(4) {
  color: #583c87;
  top: 28%;
  left: 59%;
  animation-duration: 11s;
  animation-delay: -34s;
  transform-origin: -17vw -17vh;
  box-shadow: 34vmin 0 5.067592241811216vmin currentColor;
}
.background span:nth-child(5) {
  color: #e45a84;
  top: 71%;
  left: 92%;
  animation-duration: 45s;
  animation-delay: -6s;
  transform-origin: -17vw 23vh;
  box-shadow: -34vmin 0 4.455709443269363vmin currentColor;
}
.background span:nth-child(6) {
  color: #583c87;
  top: 41%;
  left: 36%;
  animation-duration: 45s;
  animation-delay: -32s;
  transform-origin: 12vw 3vh;
  box-shadow: -34vmin 0 4.341714874746414vmin currentColor;
}
.background span:nth-child(7) {
  color: #583c87;
  top: 27%;
  left: 69%;
  animation-duration: 21s;
  animation-delay: -3s;
  transform-origin: -10vw 24vh;
  box-shadow: -34vmin 0 4.876954565612862vmin currentColor;
}
